@font-face {
    font-family: "Ubuntu";
    src: url(../fonts/Ubuntu/Ubuntu-Regular.woff2);
    font-weight: 400;
    font-display: swap;
}

body {
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Ubuntu";
}

/* =======header======= */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: auto;
    height: 58px;
    background: rgba(0, 0, 0, 0.40);
}

.left-bar a {
    color: white;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 79px;
    margin-right: 1030px;
}

.left-bar:hover a {
    color: #3CB878;
    transition: 0.2s ease;
}

.right-bar {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.svg-bar li {
    display: inline;
}

.nav-border {
    position: relative;
    margin: 0 25px 0 25px;
}

.nav-border::before {
    content: " ";
    position: absolute;
    top: -9px;
    width: 1px;
    height: 19px;
    background: rgba(255, 255, 255, 0.3);
}

.calendar:hover svg path {
    fill: #3CB878;
    transition: fill 0.2s ease;
}

.mail {
    margin: 0 40px 0 40px;
}

.mail:hover svg path {
    fill: #3CB878;
    transition: fill 0.2s ease;
}

.compass:hover svg path {
    fill: #3CB878;
    transition: fill 0.2s ease;
}

.welcome-bar {
    color: white;
    font-size: 14px;
    font-weight: 400;
}

.log-in-header {
    color: white;
}

.log-in-header:hover {
    color: #3CB878;
    transition: 0.2s ease;
}

.sign-in-header {
    color: white;
}

.sign-in-header:hover {
    color: #3CB878;
    transition: 0.2s ease;
}

/* =======main======= */

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-square {
    margin-top: 112px;
    width: 444px;
    height: 600px;
    background: white;
    box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.72);
}

.head-of-main {
    display: flex;
    justify-content: center;
    margin-top: 31px;
    position: relative;
}

.main-sign-in {
    color: #434343;
    font-size: 20px;
    font-weight: 400;
    margin-right: 216px;
}

.main-log-in {
    color: #3CB878;
    position: relative;
}

.main-log-in::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1.5px;
    width: 100%;
    height: 2px;
    background-color: #3CB878;
    opacity: 0;
}

.main-log-in:hover::after {
    opacity: 1;
    transition: opacity 0.2s ease;
}

.square-container {
    position: relative;
}

.square-container::before {
    content: " ";
    position: absolute;
    background: #3CB878;
    width: 18px;
    height: 18px;
    left: -386.3px;
    top: 1.4px;
}

.bttns {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.p-facebook {
    color: white;
    font-family: "Ubuntu";
    font-size: 16px;
    font-weight: 400;
}

.p-google {
    color: white;
    font-family: "Ubuntu";
    font-size: 16px;
    font-weight: 400;
}

.facebook-bttn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 160px;
    height: 48px;
    margin-right: 8px;
    background: #305DB8;
    border-radius: 5px;
    border: none;
    color: white;
}

.facebook-bttn:hover {
    background: #022263;
    transition: background-color 0.2s ease;
}

.google-bttn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 160px;
    height: 48px;
    background: #DF4A32;
    border-radius: 5px;
    border: none;
    color: white;
}

.google-bttn:hover {
    background: #AB1F09;
    transition: background-color 0.2s ease;
}

.img-f {
    position: absolute;
    left: 10px;
    top: 12px;
    right: 0px;
}

.line-f {
    position: relative;
    margin: 10px 25px 10px 10px;
}

.line-f::before {
    content: " ";
    position: absolute;
    top: -14px;
    width: 1px;
    height: 28px;
    background: #0A162F;
    opacity: 0.1;
}

.img-g  {
    position: absolute;
    left: 13px;
    top: 14px;
    right: 0px;
}

.line-g {
    position: relative;
    margin: 10px 20px 10px 10px;
}

.line-g::before {
    content: " ";
    position: absolute;
    top: -14px;
    width: 1px;
    height: 28px;
    opacity: 0.1;
    background: #2B0D09;
}

.lines {
    position: relative;
    display: flex;
    align-items: center;
    margin: 20px 58px 12px 58px;
}

.line1 {
    flex: 1;
    height: 1px;
    background-color: #F2F2F2;
}

.line1::before {
    content: " ";
    position: absolute;
    top: 0;
    width: auto;
}

.or-middle {
    color: #848484;
    font-size: 14px;
    font-weight: 400;
    margin: 0 10px;
}

.input-data {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 58px;
}

.input-main-text {
    width: 300px;
    height: 46px;
    margin-bottom: 15px;
    padding-left: 25px;
    border-radius: 5px;
    border: 1px solid;
    color: #BEBEBE;
}

.input-main-text:focus {
    outline: none;
    filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.21));
    transition: all 0.2s ease;
}

::placeholder {
    color: #BEBEBE;
    font-family: "Ubuntu";
    font-size: 14px;
    font-weight: 400;
}

.checkbox-container {
    display: flex;
    justify-content: center;
    margin-right: 98px;
}

.checkbox-input{
    display: none;
}

.label-checkbox{
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.checkbox-custom{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #F2F2F2;
    margin-right: 8px;
    vertical-align: middle;
    position: relative;
}

.checkbox-custom::before{
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(../images/Vector1.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
}

.checkbox-input:checked + .checkbox-custom::before{
    transform: translate(-50%, -50%) scale(1);
}

.checkbox-label{
    cursor: pointer;
}
.a-text {
    color: #3CB878;
    position: relative;
}

.a-text::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1.5px;
    width: 100%;
    height: 2px;
    background-color: #3CB878;
    opacity: 0;
}

.a-text:hover::after {
    opacity: 1;
    transition: opacity 0.2s ease;
}

.bottom-bttn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-right: 57px;
}

.create-container {
    width: 327px;
    height: 46px;
    border-radius: 4px;
    background: rgba(60, 184, 120, 0.80);
    border: none;
    color: white;
    font-family: "Ubuntu";
    font-size: 16px;
    font-weight: 400;
}

.create-container:hover {
    background: #01813F;
}